.bulb-video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bulb-video-caption {
    display: flex;
    margin-bottom: 1em;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.bulb-video-player {
    background: gray;
    grid-column: span 3;
}

.bulb-video-captions-container {
    padding: 30px;
}

.bulb-video-caption-timestamp,
.bulb-video-caption p {
    padding: 0.2em 0.5em;
    margin: 0;
}

.bulb-video-caption-timestamp {
    align-self: start;
    background-color: lightblue;
    border-radius: 5px;
}