.bulb-video {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
    margin: 0 auto;

  	@media screen and (min-width: 960px) {
  		display: grid;
  		max-width: 1500px;
  	}

  	.aligncenter & {
  		display: block;
  	}
}

.bulb-video-caption {
    display: flex;
    margin-bottom: 1em;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    .aligncenter & {
  		text-align: left;
  	}
}

.bulb-video-caption-timestamp:hover {
    cursor: pointer;
}

.bulb-video-player {
    background: gray;
    width: 100%;

    @media screen and (min-width: 960px) {
  		grid-column: span 2;
  	}

    @media screen and (min-width: 1400px) {
  		grid-column: span 3;
  	}

  	.alignwide & {
  		@media screen and (min-width: 1400px) {
	  		grid-column: span 2;
	  	}
  	}
}

.bulb-video-captions-container {
	background: #fff;
    grid-column: span 2;
    height: 0;
    min-height: 0;
    overflow-y: auto;
    padding: 30px;
    padding-bottom: 51%;

    @media screen and (min-width: 1400px) {
  		grid-column: span 1;
  		padding-bottom: 161%;
  	}

  	.aligncenter & {
  		padding-bottom: 51%;
  	}

  	.alignwide & {
  		@media screen and (min-width: 1400px) {
	  		grid-column: span 2;
	  		padding-bottom: 51%;
	  	}
  	}
}

.bulb-video-caption-timestamp,
.bulb-video-caption p {
    padding: 0.2em 0.5em;
    margin: 0;
}

.bulb-video-caption-timestamp {
    align-self: start;
    background-color: #28303d;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    opacity: 0.75;
    padding: 0.1em 0.5em;

    &:hover {
    	opacity: 1;
    }
}

.bulb-video-caption p {
	line-height: 1.3;
}

.bulb-video-player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.bulb-video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
