.entry-content .wp-block-bulb-question-tf,
.wp-block-bulb-question-tf {
    background: $light;
    border: 5px $dark solid;
    padding: 1rem;

    &.high-contrast {
        background: $black;
        border-color: $black;
        color: white;
    }

    h2 {
        color: $dark;
        font-size: 2rem;
        margin: 1rem 0;
    }

    p {
        font-size: 1.4rem;
    }

    li {
        list-style-position: inside;
    }

}
