/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #222;
$white: #f4f4f4;
$gray: #dedede;
$lightgray: #626e81;
$green: #bada55;
$accent: #5a3fd6;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);

.center {
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  @media only screen and (min-width: 600px) {
    .wp-block-columns .layout-column-1,
    .wp-block-columns .layout-column-2 {
      margin-right: 5%;
    }
  }

  .wp-block-image {
    margin-bottom: 1.2em;
  }

  .bulb-text-link {
    color: inherit;
    box-shadow: 0 -1px 0 inset;
    text-decoration: none;
    transition: .3s ease;

    &:hover {
      color: inherit;
      box-shadow: 0 -2px 0 inset;
      color: $accent;
    }
  }

