/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #222;
$white: #f4f4f4;
$gray: #dedede;
$lightgray: #626e81;
$green: #bada55;
$accent: #5a3fd6;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);
$aqua-forest: #6aac70;

.bulb-editor {
	&-section-label {
		color: rgb(59, 48, 48);
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}

	&-field-label {
		color: #7c7c7c;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #8092af;
	}

	&-answer {
		background-color: #ececec;
		padding: 1rem;
		margin: 1rem 0;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-column-gap: 1rem;
		justify-items: stretch;
		align-items: stretch;

		&-label {
			font-weight: bold;

			&-feedback {
				font-weight: bold;
				font-size: 0.9em;
			}
		}
	}
}


.bulb-pagination {

	display: flex;
	font-size: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;

	%pagination-spacing {
		margin: 2px 2px 2px 0;
		padding: 6px 9px 5px 9px;
	}

	&-label {
		@extend %pagination-spacing;
		font-weight: bold;
	}

	a, span {
		@extend %pagination-spacing;
		text-decoration: none;
		width: auto;
		color: $black; /* Pagination text color */
		background: #c0c0c0; /* Pagination non-active background color */
		transition: background 0.15s ease-in-out;
	}

	a:hover {
		color: $white;
		background: $aqua-forest; /* Pagination background on hover */
	}

	.current {
		padding: 6px 9px 5px 9px;
		background: $lightgray; /* Current page background */
		color: $white;
	}
}

.bulb-archive-container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.bulb-list {
	list-style-type: none;

	&-item {
		padding-left: 2%;
	}
}
