/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #222;
$white: #f4f4f4;
$gray: #dedede;
$lightgray: #626e81;
$green: #bada55;
$accent: #5a3fd6;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);
$aqua-forest: #6aac70;

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

@media only screen and (min-width: 600px) {
	.wp-block-columns .layout-column-1,
	.wp-block-columns .layout-column-2 {
		margin-right: 5%;
	}
}

.bulb-editor {
	&-section-label {
		color: rgb(59, 48, 48);
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}

	&-field-label {
		color: #7c7c7c;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #8092af;
	}

	&-answer {
		background-color: #ececec;
		padding: 1rem;
		margin: 1rem 0;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-column-gap: 1rem;
		justify-items: stretch;
		align-items: stretch;

		&-label {
			font-weight: bold;

			&-feedback {
				font-weight: bold;
				font-size: 0.9em;
			}
		}
	}
}

/* Integrates with BU Responsive theme */
.content-container, .site-content {
	display: flex;
	padding-bottom: 60px;

	@media screen and (max-width: 600px) {
		// Change flex-direction for narrow screens.
		flex-direction: column;
	}

	article.bulb-learning-module {
		flex: 70%;
		@media screen and (max-width: 600px) {
			flex: 1 0 auto;
		}
	}

	.sidebar.bulb-module-sidebar {
		flex: 30%;
		@media screen and (max-width: 600px) {
			flex: 1 0 auto;
			order: 2;
		}
		
		.bulb-page-links {
			width: 100%;
			border: 1px solid black;

			&__title {
				margin: 0;
				text-align: center;
				font-size: 20px;
				padding: 5px 0;
				background-color: $lightgray;
	
				a {
					color: $white !important;
				}
			}

			&-min-list {
				padding: 0;
				margin: 0;
				list-style: none;
			
				li {
					list-style: none;
					
					a {
						display: block;
						padding: 6px 20px;
					}
					&.current_page_item {
						background-color: $gray !important;
					}
				}
			}
		}		
	}
}

.bulb-pagination {
	clear: both;
	position: relative;
	font-size: 12px; /* Pagination text size */
	line-height: 13px;
	float: left; /* Pagination float direction */
	margin: 0 0 20px 0;
	width: 100%;
	text-align: center;

	h6 {
		float: left;
		margin: 5px;
	}
	span, a {
		display: block;
		float: left;
		margin: 2px 2px 2px 0;
		padding: 6px 9px 5px 9px;
		text-decoration: none;
		width: auto;
		color: $black; /* Pagination text color */
		background: #c0c0c0; /* Pagination non-active background color */
		-webkit-transition: background 0.15s ease-in-out;
		-moz-transition: background 0.15s ease-in-out;
		-ms-transition: background 0.15s ease-in-out;
		-o-transition: background 0.15s ease-in-out;
		transition: background 0.15s ease-in-out;
	}

	a:hover {
		color: $white;
		background: $aqua-forest; /* Pagination background on hover */
	}

	.current {
		padding: 6px 9px 5px 9px;
		background: $lightgray; /* Current page background */
		color: $white;
	}
}

.bulb-archive-container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.bulb-list {
	list-style-type: none;

	&-item {
		padding-left: 2%;
	}
}
